*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #EAEDED;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor{
    margin: auto;
    width: 90%
}
main-article{
    background: #ffff;
    margin: 20px 0;
    padding: 20px;
    height: 1000px;
}
text-link{
    text-align: right;
    color: green;
    font-weight: bold;
    }
text-link:hover{
    color: greenyellow;
}

/*Textos sobre carousel*/
textCarousel{
    bottom: 0cm;
    right: 1em;
    color: honeydew;
    position: absolute;
}
.footer {
    background-image: linear-gradient(to right, #1c3643, #1e5372);
    height: 80px;
    text-align: center;
    align-items: center !important;
    vertical-align: middle !important;
    font-size: small;
    color: whitesmoke;
  }